body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}

.card-container {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  margin: auto;
}

.card {
  width: 550px;
  margin: auto;
  background-color: white;
  border: 1px solid #d0d1d5;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* box-shadow: 2px 2px 5px #ccc; */
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

.card-info .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.author-info {
  padding: 10px;
}
.avatar {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #000;
}
.author {
  float: left;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
}
.card-info .author {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.card-info .date {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.card-info .description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.card-info .read-more-btn {
  display: block;
  font-size: 14px;
  color: #fff;
  background-color: #0088cc;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 600px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 380px;
  }
}

@media screen and (max-width: 378px) {
  .card {
    width: 328px;
  }
}

@media screen and (max-width: 335px) {
  .card {
    width: 290px;
  }
}
