body {
  background: #e9ebee;
}
form {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

form label {
  width: 100%;
  text-align: left;
  padding-right: 10px;
  font-size: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
}

#description {
  height: 100px;
}
form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0088cc;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #0088cc;
  box-shadow: 2px 2px 5px #ccc;
  font-weight: bold;
}

button:hover {
  background-color: #04618f;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
  form label {
    width: 40%;
  }
  form input,
  form textarea {
    width: 100%;
  }
}
