body {
  padding: 0;
  margin: 0;
}

nav {
  /* background-color: #0088cc; */
  /* background-color: #4267b2; */
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: auto;
  padding-top: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  float: left;
  padding: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 15px;
}

.links {
  margin-left: 80px;
}
.links > a > img {
  width: 38px;
  margin: 0 20px;
}

#create-page:hover,
#info-page:hover {
  background-color: #eae6e6;
  border-radius: 15px;
}
#home-page {
  border-bottom: 5px solid #1b74e4;
}

.buttons {
  margin-top: 10px;
  margin-right: 10px;
}

.log-in {
  border: 1px solid #000;
  color: #fff;
  background-color: #1b74e4;

  cursor: pointer;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.sign-up {
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  margin-left: 5px;
  background-color: #fff;

  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.log-in:hover {
  background-color: #fff;
  color: #1b74e4;
}

.sign-up:hover {
  background-color: #1b74e4;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .links {
    margin: 0px;
    padding: 0px;
  }

  .links > a > img {
    width: 30px;
    margin: 0px;
  }

  .logo {
    margin-top: 6px;
  }
}

@media screen and (max-width: 380px) {
  .log-in,
  .sign-up {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .logo {
    width: 30px;
    height: 30px;
  }

  .log-in,
  .sign-up {
    font-size: 10px;
  }

  .links > a > img {
    width: 20px;
    margin: 0px;
  }
  .buttons {
    margin-top: 8px;
  }
}
